body {
	background-color: black;
}

#videoContainer {
	text-align: center;
}

.volume {
	color: #9d9d9d;
	text-align: center;
	margin-top:15px;
}

.volume:hover {
	color: #FFFFFF;
}

#progress-bar {
	margin-top: 20px;
	width: 500px;
	margin-right: 40px;
}

.dropdown-menu li.active {
	background-color: #AF90D4;
}