body {
	background-color: black;
}

#videoContainer {
	text-align: center;
}

.media-control {
	color: #9d9d9d;
	text-align: center;
	cursor: pointer;
}

.media-control:hover {
	color: #FFFFFF;
}

#progress-bar {
	margin-top: 20px;
	width: 300px;
	margin-right: 40px;
}

#volume-slider {
	width: 100px;
}

.media-icon {
	height: 30px;
	margin-top: 5px;
}
.nav > li {
	min-width: 100px;
	text-align: center;
}

.media-title {
	margin-top: 5px;
}

.media-control.active {
	background-color: #000000;
}

#logo {
	margin-top: -15px;
}